.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #16242C;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #62A1C5;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container {
  height:80vh;
  display: grid;
  grid-template-columns: repeat(3 auto);
  grid-template-rows: 10% auto auto;
  background-color: white;
}

.Info {
  display: flex;
  align-items: center;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: calc(2.5px + 2vmin);
  color: #16242C;
}

.Available-Players {
  background-color: #62A1C5;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  font-size: calc(5px + 2vmin);
  color: #16242C;
}

.Current-Roster {
  background-color: #3C6378;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  font-size: calc(5px + 2vmin);
  color: #16242C;
}


